<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="./public/login.css">
    <title>Login</title>

</head>

<body>
    <div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
     </div>
    <main>
        <div id="loginError"></div>
        <div id="loginSuccess"></div>
        <!-- <form action="#">
            <label for="email">Email</label>
            <input type="email" id="email" class="email" >
            <label for="password">Password</label>
            <input type="password" id="password" class="password" >
            <button id="login">Login</button>
            <a href="./forgot.html">forgot password</a>
        </form>
        <p>Do not have an account? <a href="./signup.html">Sign Up</a></p> -->
        <form class="form">
            <div class="header">Sign In</div>
            <div class="inputs">
                <input placeholder="Email" id="email" class="input" type="text" required>
                <input placeholder="Password" id="password" class="input" type="password" style="position: relative;" required>
                <i class="fa-solid fa-eye" id="password-eye"></i>
                <button class="sigin-btn" id="login">Submit</button>
                <a class="forget" href="./forgot.html">Forget password ?</a>
                <p class="signup-link">Don't have an account? <a href="./signup.html">Sign up</a></p>
            </div>
        </form>

    </main>

    
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="login.js"></script>
</body>

</html>